@charset "utf-8";

/*General styling starts*/
@font-face {  /*This code adds a new font-face, which can be used in the product*/
    src: url("../font/Gruppo.ttf");
    font-family: Gruppo;
}

@font-face {  /*This code adds a new font-face, which can be used in the product*/
    src: url("../font/Montserrat-Light.ttf");
    font-family: Monlight;
}

* { /*This code apllies the new fon-face to the entire document*/
    font-family: "Gruppo";
}

body {
    background-color: black;
}

h1, h2, h3, h4, h5, h6, p, a, .footer-copyright {
    color: white;
}

p{
    font-family: "Monlight",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-size: 0.8rem;
    line-height: 1.4rem;
    letter-spacing: 0.06rem;
}

a:hover, a.active {
    color: #307ca1;
}

.dropdown-item.active {
    background-color: #307ca1;
    color: black;
}


.divider {
    width: 100%;
}
/*General styling ends*/


/* Styling for mobile starts */
/* Styling for header starts */
.desktopnav {
    display: none;
}

.mobilnav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 1.5rem; 
}

#moblogo {
    width: 80%;
}

.navbar-toggler {
    margin-left: 15vw;
}

.mobilnav .nav-link, .mobilnav .moblink {
    color: white;
}

.nav-item {
    margin-left: 5vw;
}

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: #307ca1;
    }
    
    .animated-icon2 span {
    background: #e3f2fd;
    }
    
    .animated-icon3 span {
    background: #f3e5f5;
    }
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
/* Styling for header ends */

/* Styling for "index" starts */
.index-mobilovich {
    display: block;
}

.index-desktopovich {
    display: none;
}

.index-content-img {
    width: 100%;
}

.index-content-container {
    position: relative;
    text-align: center;
}

.index-content-container h2 {
    font-family: Gruppo;
}

.index-content-text {
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-size: 2rem;
}
/* Styling for "index" ends */

/* Styling for "catalogue" starts */
.mobile-catalogue {
    display: block;
}

.desktop-catalogue {
    display: none;
}

#catahead {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 5%;
}

.ectobox, .mesobox {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 1.8rem;
}

.endobox, .accbox {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 1.8rem;
}

.cataimg {
    width: 100%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.catatext {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Styling for "catalogue" ends */

/* Styling for "catalogue(Ecto/Endo/Meso/Accessories)" starts */
.navigation-left{
    display: none;
}

.collections{
    margin: 2%;
    width: 96%;
}

.collections-cards{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    
}

.collections-cards .card{
    margin-right: 7%;
    margin-left: 7%;
    margin-top: 3%;
    background-color: transparent; 
    width: 85%;
}

.collections h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.collections h2{
    font-size: 25px;
}
/* Styling for "catalogue(Ecto/Endo/Meso/Accessories)" ends */

/*Styling for "product" starts*/
.product-wrapper-desktop{
    display: none;
}

.product-pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#product{
    margin-top: 5vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.product-pics{
    margin-left: 5%;
    margin-right: 5%;    
    margin-bottom: 5%;
}

.product-pics img{
    width: 100%; 
}

.top-description-mobile{
    margin-top: 2vh;
    margin-left: 10%;
    width: 80%;
}

.top-description-mobile h1{
    font-size: 2rem;
}

.top-description-mobile p{
    font-size: 1.3rem;
    margin-left: 2vh;
}

.product-description{
    background-color: black;
}

.card-body{
    color: white;
}

.btn-group{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.btn-outline-light{
    margin-left: 4vh;
    margin-bottom: 2vh;
}


#collapseOne, #collapseTwo, #collapseThree{
    margin-left: 2vw;
}

/*Styling for "product" ends*/



/* Styling for footer starts */
.footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }

  footer p a, footer p {
    font-family: Gruppo;
    font-size: 0.9rem;
  }
/* Styling for footer ends */


/* Styling for "about"/"drink" starts */
.top-section img{
    margin-top: 3vh;
    width: 100%;
    height: auto;
}

.top-section h1{
    text-align: center;
    font-size: 2.2rem;
}

.text p, .text h2{
    margin: 20px;
    margin-left: 8vw;
    margin-right: 8vw;
}

.text h2{
    font-size: 2.2rem;
}


/* Styling for "about"/"drink" ends */


/* Styling for mobile ends */


/* Styling for mobile ends */

/* Styling for desktop starts */
@media only screen and (min-width: 768px) {


/*Header styling starts*/
    .mobilnav {
        display: none;
    }

    .desktopnav {
        display: grid;
        grid-template-columns: 1fr 3fr;
        font-size: 1.5rem; 
        background-color: black;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    #logo {
        width: 50%;
        height: auto;
        margin-left: 10%;
    }

    #navigation {
        margin-right: 10%;
    }
/*Header styling ends*/


/* Styling for "index" starts */
.index-mobilovich {
    display: none;
}

.index-desktopovich {
    display: block;
}

.carousel {
    margin-right: auto;
    margin-left: auto;
    height: auto;
    /* width: 90%; */
}
/* Styling for "index" ends */

/* Styling for catalogue starts */
.mobile-catalogue {
    display: none;
}

.desktop-catalogue {
    display: block;
}

.desktop-cata-text {
    text-align: center;
    font-size: 2rem;
    margin-top: 8vh;
    padding-bottom: 2vh;
}

.desktop-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    text-align: center;
}

.desktop-cata {
    margin: auto;
    font-size: 1.5rem;
    margin-bottom: 5vh;
}

.category-img {
    width: 60%;
}
/* Styling for catalogue ends */

/* Styling for "catalogue(Ecto/Endo/Meso/Accessories)" starts */

    .catalogue-wrapper{
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-top: 10px;
    }

    .navigation-left{
        display: block;
    }

    .navigation-left ul{
        list-style-type: none;
        color: white;
        margin-top: 10vw;
        margin-left:4vw;
    }

    .navigation-left li{
        font-size: 1.5rem;
        margin: 10px;
    }

    .collections{
        width: 90%;
    }

    .collections-cards{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
    }

    .collections-cards .card{
        margin-top: 3vh;
        margin-bottom: 3vh;
        background-color: transparent; 
        width: 85%;
    }

    .card-img-top{
        margin-bottom: 2vh;
    }

    .collections h1{
        text-align: center;
        font-size: 2.5rem;
    }

    .collections h2{
        font-size: 25px;
    }


/* Styling for "catalogue(Ecto/Endo/Meso/Accessories)" ends */

/*Styling for "product" starts*/
.product-wrapper-mobile{
    display: none;
}

.product-wrapper-desktop{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.product-wrapper-desktop ul{
    list-style-type: none;
}

.product-wrapper-desktop li img{
    width: auto;
    height: 23vh;
    margin-top: 3vh;
    margin-left: 7vw;
}

#product{
    margin-top: 3vh;
    height: 75vh;
    width: auto;
}

#product-text{
    margin-top: 3vh;
    width: 80%;
}
    
.product-description{
    background-color: black;
}

.card-body{
    color: white;
    padding: 0px;
}

.top-description-desktop{
    margin-left: 2vw;
}

.top-description-desktop h1{
    font-size: 2rem;
    margin-bottom: 4vh;
}

.top-description-desktop p{
    margin-left: 2vw;
}

.btn-group{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.btn-outline-light{
    margin-left: 4vw;
    margin-bottom: 2vh;
}

.accordion h2{
    font-size: 1.5rem;
}

#collapseOne, #collapseTwo, #collapseThree{
    margin-left: 4vw;
}
/*Styling for "product" ends*/


/* Styling for footer starts */
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}

  .foot-icon {
      width: 5%;
  }
/* Styling for footer ends */

/* Styling for "about"/"drink" starts */
.top-section img{
    margin-top: 3vh;
    width: 100%;
    height: auto;
}

.top-section h1{
    text-align: center;
    font-size: 2.2rem;
}

.text h2{
    font-size: 2.2rem;
}

.text p{
    margin: 20px;
    margin-left: 8vw;
    margin-right: 8vw;
}

/* Styling for "about"/"drink" ends */
}
/* Styling for desktop ends */